<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up | Study Group Finder</title>
    <link rel="stylesheet" href="/styles/header-style.css">
    <link rel="stylesheet" href="/styles/signup-page.css">
    <link rel="stylesheet" href="/styles/500.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <h1>Could not find <span>group!</span></h1>
        <p id="text">Unfortunately, we could not find the requested group : (</p>
        <p id = "back"><a href="/groups">Other Groups</a></p>
    </main>
</body>
</html>