#backdrop {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.modal {
    position: fixed;
    top: 23%;
    left: 25%;
    width: 45%;
    background-color: white;
    padding: 1.5rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    padding-bottom: 0rem;
    display: none;

}

#main-overlay {
    text-align: center;
}

#main-overlay h2{
    margin-top: 10px;
    font-size: 2rem;
    color: rgb(58, 57, 57);
    margin-bottom: 0rem;
}

#span-groups {
    color: #ec5b53;
}

#search-overlay {
    margin: 0rem auto 2rem auto;
    width: 80%;
    height: 1rem;
    padding: 0.6rem;
    font-family: 'Open sans', sans-serif;
    font-size: 1rem;
    color: rgb(73, 72, 72);
    outline: none;
}

#search-overlay:focus {
    border: 2px solid #ec5a52;
}

#close-svg {
    width: 2rem;
    transition: transform ease-out 0.25s;
}

#close-svg:hover {
    cursor: pointer;
    transform: scale(1.3);
}


#cancel-btn, #search-btn {
    font: inherit;
    padding: 10px 28px;
    background-color: #ec5b53;
    border: 1px solid #ec5b53;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

#search-btn {
    transition: background-color ease-in 0.4s;
}

#cancel-btn {
    background-color: white;
    color: black;
    transition: background-color ease-in 0.4s;
    margin-right: 1.5rem;
}

#cancel-btn:hover {
    background-color: #ec5b53;
    color: white;
}

#search-btn:hover {
    background-color: #da3931;
}

#search-form {
    margin-top: 0px;
}

#search-div {
    position: relative;
    margin-top: 0px;
}

#search-overlay{
    text-indent: 30px;
}

#search-div #search-icon {
    position: absolute;
    top: 9%;
    left: 10%;
}

#search-icon {
    width: 1.2rem;
}