<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/header-style.css">
    <link rel="stylesheet" href="/styles/overlays.css">
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="/scripts/config-overlay.js" defer></script>
    <title>Study Group Finder</title>
  </head>
  <body>
    <div id="backdrop"></div>
    <%- include('../includes/header') %>
    <main>
      <aside class="modal" id="config-overlay">
        <div id="close-icon"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" id="close-svg">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg></div>
        <div id="main-overlay">
          <h2>Search <span id="span-groups">Study Group</span></h2>
          <form id="search-form" action="/groups/search?_csrf=<%= locals.csrfToken%>" method="post">
            <div id="search-div">
              <svg aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"  id="search-icon">
                <path d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <input type="text" name="search" id="search-overlay" placeholder="Enter name of the group">
              <div>
                <button type="button" id="cancel-btn">Cancel</button>
                <button type="submit" id="search-btn">Search</button>
              </div>
            </div>
          </form>
        </div>
      </aside>
      <section id="search-content">
        <div id="search-container">
          <div id="non-img">
            <h1>Want to study <span id="together">together?</span></h1>
            <p>Search and join a group based on your interests</p>
            <button id="search-grp">Search Group</button> 
            <a href="/groups" id="explore-now">Explore Now</a>
          </div>
          <div id="image-container">
            <img src="images/bzfszobhjsgbjk2xb2ha_275f4fb989.webp" alt="Cannot load image" id="search-image">
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
